<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
    <form method="post" action="/users/forget-password">
        <label style="margin: 20px;">Forget password</label>
        <br>
        <input placeholder="enter your email" style="margin: 20px;" name="email"></input>
        <br>
        <button style="margin: 20px;">submit</button>
    </form>
  </body>
</html>