<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
    <form method="post" action="/users/reset-password">
        <label style="margin: 20px;">reset password</label>
        <br>
        <input type="hidden" value='1' name="id"/>
        <input placeholder="enter your new password" style="margin: 20px;" name="password"></input>
        <br>
        <button style="margin: 20px;">submit</button>
    </form>
  </body>
</html>